/* Import des polices */

@font-face {
    font-family: "LeckerliOneRegular";
    src: url("/resources/fonts/LeckerliOne-Regular.ttf");
}
@font-face {
    font-family: "RobotoLight";
    src: url("/resources/fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "RobotoThin";
    src: url("/resources/fonts/Roboto-Thin.ttf");
}

/* Couleurs CSS */
:root {
    --main-color: black;
    --bg-color: white;
  }

/* Couleur du surlignage souris */



::selection { background-color: var(--main-color); color: var(--bg-color); }
::-moz-selection { background-color: var(--main-color); color: var(--bg-color); }




/* ---------------------   Commons   ---------------------- */

/* Suppression de la barre de défilement */
html { 
    overflow-y: hidden; 
}
body {
    height: 100vh;
    color: var(--main-color);
}

.screen {
    /* display: none; */
    height: 100vh;
}
.underline {
    background-color: var(--main-color); 
    color: var(--bg-color);
}

/* Screen 1 */

.title {
    position: relative;
    padding-top: 100px;
    font-size: 4.7rem;
    font-family: "LeckerliOneRegular";
}
.moustache {
    width: 60px;
    position: absolute;
    bottom: 100px;
}
.subtitle {
    padding-top: 22px;
    font-size: 1.7rem;
    font-family: "RobotoThin", sans-serif;
    font-weight: 500;

}
.tuto {
    padding-top: 135px;
    padding-bottom: 80px;
    font-size: 3rem;
    font-family: "RobotoThin", sans-serif;
    line-height: 3.5rem;
    font-weight: 500;
}


/* Screen 2 */

.titleSecondScreen {
    font-size: 2.2rem;
    padding-top: 45px;
    margin-left: 20vw;
}
.moustacheSecondScreen {
    bottom: 52px;
}
.subtitleSecondScreen {
    padding-top: 5px;
    margin-left: 20vw;
}
.sleepingCatSecondScreen {
    width: 60vw;
    min-width: 300px;
    position: absolute;
    bottom: 20px;
    left: 10vw;
}
.sleepingCatsTailSecondScreen {
    width: 28vw;
    min-width: 120px;
    position: absolute;
    bottom: 30px;
    left: 46vw;
}

#rrr {
    /* display: none; */
}
.rrrOne, .rrrTwo, .rrrThree {
    position: absolute;
    width: 7vw;
}
.rrrOne {
    animation: 1s infinite alternate ease;
    transform: rotate(-25deg);
    left: 10vw;
    bottom: 62vh;
}
.rrrTwo {
    animation: 1.5s infinite alternate ease;
    left: 17vw;
    bottom: 75vh;
}
.rrrThree {
    animation: 1.2s infinite alternate ease;
    transform: rotate(-20deg);
    left: 19vw;
    bottom: 60vh;
}

/* SVG */

.range {
    white-space: nowrap;
    position: relative;
    padding: 60px;
}
svg {
    overflow: visible;
}

.path {
    stroke: var(--main-color);
    stroke-dasharray: 8,7;
    stroke-width: 1.9;
    stroke-linecap: round;
}
.circle {
    animation: 1s infinite alternate ease;
}
.target {
    animation: 1s infinite 0.5s alternate ease;
    fill: var(--bg-color);
    stroke: var(--main-color);
    stroke-width: 0.8px;
}
#actionOk {
    width: 3rem;
    position: relative;
    left: 20px;
    bottom: 60px;
    margin-right: -20px;
    visibility: hidden;
}


/* Animations */
.targetAnimation, .circleAnimation {
    animation-name: fadeIn;
}
.rrrAnimation {
    animation-name: tada, fadeIn, pulse;
}


/* TEST */
.screen {
    display: none;
}

#firstScreen {
    /* display: none !important; */
}
#secondScreen {

}
#thirdScreen {
    display: none !important;
    background-color: yellow;
}
#fourthScreen {
    display: none !important;
    background-color: teal;
}
#fifthScreen {
    display: none !important;
    background-color: tomato;
}
#sixthScreen {
    display: none !important;
    background-color: violet;
}
#lastScreen {
    display: none !important;
    background-color: wheat;
}

/* --------------   RESPONSIVE   -------------- */

/* Extra small (xs) */
@media (min-width: 577px) and (max-width: 768px) {
    /* SCREEN 1*/
    .title {
        padding-top: 100px;
        font-size: 4rem;
    }
    .tuto {
        padding-top: 130px;
        padding-bottom: 80px;
    }
    .range {
        padding: 130px;
    }
    #actionOk {
        width: 3rem;
        left: 15px;
        bottom: 40px;
        margin-right: -15px;
    }

    /* SCREEN 2 */
}

/* Small (sm) */
@media (max-width: 576px) {
    /* SCREEN 1*/
    .title {
        padding-top: 50px;
        font-size: 2rem;
    }
    .moustache {
        width: 30px;
        bottom: 45px;
    }
    .subtitle {
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .tuto {
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 2rem;
    }
    #actionOk {
        width: 1.5rem;
        left: 5px;
        bottom: 10px;
        margin-right: -5px;
    }

    /* SCREEN 2 */
}