/* Import des polices */

@font-face {
    font-family: "LeckerliOneRegular";
    src: url("../fonts/LeckerliOne-Regular.ttf");
}
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/Roboto-Thin.ttf");
}

/* Couleurs CSS */
:root {
    --main-color: black;
    --bg-color: white;
  }

/* Couleur du surlignage souris */
::selection { background-color: var(--main-color); color: var(--bg-color); }
::-moz-selection { background-color: var(--main-color); color: var(--bg-color); }


/* ---------------------   Commons   ---------------------- */

/* Suppression de la barre de défilement */
html { 
    margin: 0;
    padding: 0;
    overflow-y: hidden; 
}
body {
    height: 100vh;
    color: var(--main-color);
}
.screen {
    height: 100vh;
}
.underline {
    background-color: var(--main-color); 
    color: var(--bg-color);
}
.SX-title {
    position: relative;
    padding-top: 70px;
    font-size: 2.5rem;
    font-family: "LeckerliOneRegular";
}
.SX-subtitle {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "RobotoThin", sans-serif;
    line-height: 1.7rem;
}
.SX-moustache {
    width: 50px;
    position: absolute;
    bottom: 60px;
    z-index: -10;
}

/* SCREEN 1 */
.S1-title {
    position: relative;
    padding-top: 100px;
    font-size: 4.7rem;
    font-family: "LeckerliOneRegular";
}
.S1-moustache {
    position: absolute;
    width: 60px;
    bottom: 100px;
}
.S1-subtitle {
    padding-top: 22px;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "RobotoThin", sans-serif;
}
.S1-tuto {
    padding-top: 135px;
    padding-bottom: 80px;
    font-size: 3rem;
    font-family: "RobotoThin", sans-serif;
    line-height: 3.5rem;
    font-weight: 500;
}

/* SCREEN 2 */
.S2-title {
    font-size: 2.5rem;
    padding-top: 45px;
    margin-left: 10vw;
}
.S2-moustache {
    bottom: 52px;
}
.S2-subtitle {
    font-size: 1.4rem;
    padding-top: 5px;
    margin-left: 10vw;
}
.S2-cat {
    width: 60vw;
    min-width: 300px;
    position: absolute;
    bottom: 20px;
    left: 10vw;
}
.S2-catTail {
    width: 28vw;
    min-width: 120px;
    position: absolute;
    bottom: 30px;
    left: 46vw;
}
#rrr {
    /* display: none; */
}
.rrrOne, .rrrTwo, .rrrThree {
    position: absolute;
    width: 7vw;
}
.rrrOne {
    /* animation: 1s infinite alternate ease; */
    transform: rotate(-25deg);
    left: 10vw;
    bottom: 62vh;
}
.rrrTwo {
    /* animation: 1.5s infinite alternate ease; */
    left: 17vw;
    bottom: 75vh;
}
.rrrThree {
    /* animation: 1.2s infinite alternate ease; */
    transform: rotate(-15deg);
    left: 19vw;
    bottom: 60vh;
}

/* SCREEN 3*/
.S3-cat {
    width: 60vw;
    position: absolute;
    bottom: 30px;
    left: 10vw;
}
.S3-catTail {
    width: 14vw;
    position: absolute;
    bottom: 10vw;
    left: 67vw;
}

/* SCREEN 5 */
.S5-moustache {
    transform: rotate(270deg);
    margin-left: 20px;
    margin-bottom: 10px;
}
.S5-cat {
    position: relative;
    z-index: -10;
    height: 100vh;
    top: -350px;
    left: -10px;
}
#S5-after {
    width: 400px !important;
    position: relative;
    top: -750px;
    left: 65vw;
}
.S5-afterSubtitle {
    padding-top: 0;
}
.S5-img {
    position: relative;
}
.S5-eclairs {
    position: absolute;
}
.S5-eclair1 {
    width: 4%;
    top: -290px;
    left: 37vh;
}
.S5-eclair2 {
    width: 6%;
    top: -280px;
    left: 20vh;
}
.S5-pfff {
    position: absolute;
    width: 10%;
    top: 35vh;
    left: 8vw;
}

/* SCREEN 6 */
.S6-img {
    position: relative;
}
.S6-cat {
    position: absolute;
    width: 50vw;
    z-index: -999;
    top: -7vw;
    left: 13vw;
}
.S6-catTail {
    position: absolute;
    width: 5vw;
    z-index: -999;
    top: 14vw;
    left: 16.7vw;
}
#S6-after {
    width: 500px !important;
    position: relative;
    top: 300px;
    left: 60vw;
}


/* SVG */
.range {
    white-space: nowrap;
    position: relative;
    padding: 60px;
}
svg {
    overflow: visible;
}
.path {
    stroke: var(--main-color);
    stroke-dasharray: 8,7;
    stroke-width: 1.9;
    stroke-linecap: round;
}
.circle {
    animation: 1s infinite alternate ease;
}
.target {
    animation: 1s infinite 0.5s alternate ease;
    fill: var(--bg-color);
    stroke: var(--main-color);
    stroke-width: 0.8px;
}
#S1-action {
    width: 3rem;
    position: relative;
    left: 20px;
    bottom: 60px;
    margin-right: -20px;
    visibility: hidden;
}

/* Animations */
.targetAnimation, .circleAnimation {
    animation-name: fadeIn;
}
.rrrAnimation {
    animation-name: tada, fadeIn, pulse;
}


/* --------------   RESPONSIVE   -------------- */

/* 4K Screen */
@media (min-width: 2560px) {
    /* SCREEN 5 */
    #S5-after {
        top: -950px;
        left: 70vw;
    }
    .S5-title, .S5-subtitle {
        position: relative;
        top: 100px;
    }
    .S5-eclair1 {
        top: -270px;
        left: 27vh;
    }
    .S5-eclair2 {
        top: -240px;
        left: 10vh;
    }
    .S5-pfff {
        top: 47vh;
        left: 7vw;
    }

    /* SCREEN 6 */
    .S6-cat { 
        top: 1vw;
        left: 13vw;
    }
    .S6-catTail {
        top: 22vw;
        left: 16.7vw;
    }
    #S6-after {
        top: 600px;
        left: 67vw;
    }
}

/* Ecran medium (md) */
@media (min-width: 1024px) and (max-width: 1919px) {
    /* Commons */
    .SX-title {
        font-size: 2rem;
    }
    .SX-subtitle {
        font-size: 1.3rem;
    }
    /* SCREEN 5 */
    .S5-eclair1 {
        top: -275px;
        left: 17vh;
    }
    .S5-eclair2 {
        top: -280px;
        left: 4vh;
    }
    .S5-pfff {
        width: 150px;
        top: 33vh;
        left: 7vw;
    }
    /* SCREEN 6 */
    .S6-cat { 
        width: 60vw;
        top: -10vw;
        left: 10vw;
    }
    .S6-catTail {
        width: 7vw;
        top: 16vw;
        left: 14vw;
    }
    #S6-after {
        top: 250px;
        left: 60vw;
    }
}

/* Small (sm) */
@media (min-width: 577px) and (max-width: 768px) {
    /* SCREEN 1*/
    .S1-title {
        padding-top: 100px;
        font-size: 4rem;
    }
    .S1-tuto {
        padding-top: 130px;
        padding-bottom: 80px;
    }
    .range {
        padding: 130px;
    }
    #S1-action {
        width: 3rem;
        left: 15px;
        bottom: 40px;
        margin-right: -15px;
    }

    /* SCREEN 2 */
    .S2-title {
        font-size: 2.5rem;
        padding-top: 80px;
        margin-left: 0;
    }
    .S2-subtitle {
        font-size: 1.5rem;
        margin-left: 0;
    }
    .S2-cat {
        width: 85vw;
        bottom: 13vw;
        left: 7vw;
    }
    .S2-catTail {
        width: 40vw;
        bottom: 15vw;
        left: 58vw;
    }
    .rrrOne, .rrrTwo, .rrrThree {
        width: 15vw;
    }
    .rrrOne {
        left: 8vw;
        bottom: 45vh;
    }
    .rrrTwo {
        left: 20vw;
        bottom: 53vh;
    }
    .rrrThree {
        left: 20vw;
        bottom: 42vh;
    }

    /* SCREEN 3 */
    .S3-cat {
        width: 80vw;
        bottom: 3vw;
        left: 3vw;
    }
    .S3-catTail {
        width: 20vw;
        bottom: 12vw;
        left: 78vw;
    }

    /* SCREEN 5 */
    .S5-cat {
        max-width: initial !important;
        width: 1100px;
        top: -450px;
        left: 0px;
    }
    .S5-title, .S5-subtitle {
        margin-left: 350px;
    }
    #S5-after {
        top: -670px;
        left: 170px;
    }
    .S5-eclair1 {
        width: 50px;
        top: -275px;
        left: 20vh;
    }
    .S5-eclair2 {
        width: 65px;
        top: -270px;
        left: 7vh;
    }
    .S5-pfff {
        width: 150px;
        top: 20vh;
        left: 7vw;
    }

    /* SCREEN 6 */
    .S6-cat {
        width: 500px;
        top: 3vw;
        left: 24vw;
    }
    .S6-catTail {
        width: 50px;
        top: 30vw;
        left: 28.7vw;
    }
    #S6-after {
        top: 50vw;
        left: 20vw;
    }
}

/* Extra small (xs) */
@media (max-width: 576px) {
    /* Commons */
    .SX-title {
        font-size: 2rem;
        padding-top: 50px;
        margin-left: 0vw;
    }
    .SX-subtitle {
        font-size: 1.2rem;
        padding-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .SX-moustache {
        width: 30px;
        bottom: 45px;
    }

    /* SCREEN 1*/
    .S1-title {
        padding-top: 50px;
        font-size: 2rem;
    }
    .S1-moustache {
        width: 30px;
        bottom: 45px;
    }
    .S1-subtitle {
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .S1-tuto {
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 2rem;
    }
    #S1-action {
        width: 1.5rem;
        left: 5px;
        bottom: 10px;
        margin-right: -5px;
    }

    /* SCREEN 2 */
    .S2-title {
        margin-left: 0vw;
    }
    .S2-subtitle {
        margin-left: 0px;
        margin-right: 0px;
    }
    .S2-cat {
        bottom: 20px;
        left: 20px;
    }
    .S2-catTail {
        width: 28vw;
        bottom: 30px;
        left: 215px;
    }
    .rrrOne, .rrrTwo, .rrrThree {
        width: 20vw;
    }
    .rrrOne {
        bottom: 45vh;
    }
    .rrrTwo {
        left: 40vw;
        bottom: 50vh;
    }
    .rrrThree {
        left: 70vw;
        bottom: 47vh;
    }

    /* SCREEN 3 */
    .S3-cat {
        width: 80vw;
        bottom: 3vw;
        left: 3vw;
    }
    .S3-catTail {
        width: 20vw;
        bottom: 12vw;
        left: 78vw;
    }

    /* SCREEN 5 */
    .S5-cat {
        max-width: initial !important;
        width: 300px;
        height: auto;
        top: 10px;
        left: 0px;
    }
    #S5-after {
        width: 100vw !important;
        top: 0px;
        left: 0px;
    }
    .S5-subtitle {
        padding-top: 0;
    }
    .S5-eclair1 {
        width: 20px;
        top: 0;
        left: 90px;
    }
    .S5-eclair2 {
        width: 27px;
        top: 0;
        left: 30px;
    }
    .S5-pfff {
        width: 50px;
        top: 150px;
        left: 8vw;
    }

    /* SCREEN 6 */
    .S6-cat {
        width: 250px;
        top: 3vw;
        left: 24vw;
    }
    .S6-catTail {
        width: 25px;
        top: 33vw;
        left: 29vw;
    }
    #S6-after {
        width: auto !important;
        top: 55vw;
        left: 0vw;
    }
    .S6-afterTitle {
        font-size: 1.6rem;
    }
    .S6-afterSubtitle {
        padding-top: 0 ;
    }
}
/* Adaptation pour le défilement des petits écrans */
@media (max-height: 600px) {
    html {
        overflow-y: auto;
    }
}


/* !!!!!!!!!!     TEST     !!!!!!!!!!!!! */
.screen {
    /* display: none; */
}

#firstScreen {
    display: none !important;
}
#secondScreen {
    display: none !important;
}
#thirdScreen {
    display: none !important;
}
#fourthScreen {
    display: none !important;
}
#fifthScreen {
    display: none !important;
}
#sixthScreen {
    /* display: none !important; */
}
#lastScreen {
    display: none !important;
    background-color: wheat;
}
/*_____________________________________________*/